<h1 class="m-2">All of the Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <div class="card p-3 m-2"><%= link_to "#{restaurant.name}", restaurant_path(restaurant.id) %></div>
<% end %>

<%= link_to "create a new restaurant", new_restaurant_path, class: "btn btn-primary m-2" %>
