// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 .restaurant-index {
    padding: 20px;
    margin: 20px;
    background-color: gray;
    border-radius: 10px;
 }
